<nav>
<ul class="nav justify-content-end text-info">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/login-user" routerLinkActive="active">Players Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/register" routerLinkActive="active">Cadastrar Jogador</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/players" routerLinkActive="active">Lista de Jogadores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login-user" (click)="logout()" routerLinkActive="active">Sair</a>
  </li>
</ul>
</nav>
<router-outlet></router-outlet>

<!-- Router Link Active: se a rota determinada está ativa, adicionar style para esse item. -->