<div class="container-sm w-25 pt-3">
    <h2 class="pt-3">Login</h2>
    <form (ngSubmit)="submit(email.value, password.value)" class="pt-3">
        <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="Email" #email required />
        </div>

        <div class="form-group">
            <label>Senha:</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Senha" #password required />
        </div>

        <button type="submit" class="btn btn-outline-primary btn-md mt-3 p-1 button-login-width">Entrar</button>
    </form>
    <router-outlet></router-outlet>
</div>
<div class="container register-user">
    <label>Não possui registro?</label>
    <button routerLink="/register-user" class="btn btn-outline-primary mt-2 p-1 button-register-width">Cadastre-se</button>
    <router-outlet></router-outlet>
</div>
